.review-list {
	font-family: "Poppins", sans-serif;
	color: black;
	font-size: 16px;
}
.review-card {
	margin-bottom: 20px;
}
.review-text {
	width: 813px;
	margin-top: 10px;
}
.review-separator {
	margin-bottom: 20px;
	border-top: 2px black solid;
	width: 813px;
}
