.btn {
	background-color: black;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
	border-radius: 100px;
	outline: none;
	transition: background-color 0.3s ease;
	&:focus {
		outline: none;
	}
}
.btn-icon {
	display: flex;
}
.btn-icon-left {
	margin-right: 8px;
}
.btn-icon-right {
	margin-left: 8px;
}
.btn-review,
.btn-send {
	color: #fff;
	width: 137px;
	height: 53px;
	font-size: 24px;
}
.btn-route1 {
	background-color: #979797;
	color: #fff;
	width: 124px;
	height: 33px;
	font-size: 12.5px;
}
.btn-back {
	font-family: "Montserrat", sans-serif;
	background-color: transparent;
	font-weight: bold;
	color: #000;
	font-size: 20px;
}
.btn-send {
	font-size: 24px;
	margin-left: 445px;
}
.btn-show {
	font-family: "Montserrat", sans-serif;
	background-color: transparent;
	text-decoration: underline;
	font-weight: bold;
	color: #000;
	border: none;
	font-size: 20px;
	margin: 0;
}
.btn-route2 {
	font-family: "Montserrat", sans-serif;
	background-color: transparent;
	font-weight: bold;
	color: #000;
	border: #000 solid 1.5px;
	border-radius: 20px;
	width: 274px;
	height: 70px;
	font-size: 24px;
}